<aside class="sidebar">
  <div class="user-info">
    <img
      src="<%= user.foto_profile ? '/' + user.foto_profile : '/images/user_icon.png' %>"
      alt="User Icon"
      class="user-icon"
    />
    <p><a href="/profile" class="user-link">Hi, <%= user.nama %></a></p>
  </div>
  <nav class="menu">
    <a
      href="/dashboard"
      class="<%= activeMenu === 'dashboard' ? 'active' : '' %>"
      >Beranda</a
    >
    <a
      href="/my-report"
      class="<%= activeMenu === 'my-report' ? 'active' : '' %>"
      >Laporan Saya</a
    >
    <a href="#">Laporan Saya Claim</a>
    <a href="#">Statistik Laporan Saya</a>
    <a href="#">Riwayat Saya</a>

    <% if (user.role === 'admin') { %>
    <div class="menu-separator"></div>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle"
        >Laporan Masuk <span class="arrow"></span
      ></a>
      <div class="dropdown-menu">
        <a href="#">Verifikasi Upload Laporan</a>
        <a href="#">Verifikasi Laporan Selesai</a>
      </div>
    </div>
    <a href="#">Statistik Laporan</a>
    <a href="#">Management User</a>
    <% } %>
  </nav>
</aside>
