<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/changepassword-profile.css" />
  </head>
  <body>
    <div class="form-container">
      <h1>Change Password</h1>
      <form
        action="/profile/change-password"
        method="POST"
        onsubmit="validateForm(event)"
      >
        <div class="form-group">
          <label for="password">New Password</label>
          <div class="password-field">
            <input type="password" id="password" name="newPassword" required />
            <img
              src="/images/view.png"
              class="toggle-password"
              onclick="toggleVisibility('password', this)"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="confirm_password">Confirm New Password</label>
          <div class="password-field">
            <input
              type="password"
              id="confirm_password"
              name="confirmPassword"
              required
            />
            <img
              src="/images/view.png"
              class="toggle-password"
              onclick="toggleVisibility('confirm_password', this)"
            />
          </div>
        </div>

        <div class="form-footer">
          <a href="/profile" class="back-link">Back</a>
          <button type="submit" class="submit-btn">Change</button>
        </div>
      </form>
    </div>
    <script src="/javascript/toggle-password.js"></script>
  </body>
</html>
